<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoHaven - Profile</title>
      {% load static %}
      <style>
          body {
              background-image: url("{% static 'background.png' %}");
              background-size: cover;
              background-repeat: no-repeat;
              background-attachment: fixed;
          }
  
      </style>
      <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
      <header style="padding: 0;">
          <div class="bordering2">
              <img src="{% static 'logo.png' %}" alt="logo" class="logo">
              <h1 class="element" style="padding-left: 10px; padding-top: 10px; font-size: 30px;">
                  InfoHaven
                  {% if request.session.member_type == 0 %}
                      <span style="padding-left: 990px;">Welcome {{ request.session.member_fname }}</span>
                  {% else %}
                      <span style="padding-left: 990px;">Welcome Admin</span>
                  {% endif %}
              </h1>
              <h2 class="element" style="padding-left: 40px; padding-bottom: 10px;">&nbsp;&nbsp;&nbsp;&nbsp;Library</h2>
          </div>
          <nav class="bordering">
              <ul class="menu">
                  <li><a href="/Start_Logged">Home</a></li>
                  <li><a href="#about">About</a></li>
                  {% if request.session.member_type == 0 %}
                      <li><a href="/Dashboard">Dashboard</a></li>
                  {% else %}
                      <li><a href="/DashboardAdmin">Dashboard</a></li>
                  {% endif %}
                  <li><a href="#faqs">FAQs</a></li>
                  <li><a href="#browse">Browse Subjects</a></li>
                  <li><a href="#contact">Contact Us</a></li>
              </ul>
              <div class="user-actions">
                <a href="/profile">
                    <button id="sign-in">View Profile</button>
                </a>
                  <a href="/Logout">
                      <button id="sign-in">Log Out</button>
                  </a>
                  <div id="search-icon">
                      <img src="{% static 'search.svg' %}" alt="Search Icon">
                  </div>
                  <div id="menu-icon">
                      <img src="{% static 'menu.svg' %}" alt="Menu Icon">
                  </div>
              </div>
          </nav>
      </header>

      <main style="background-color: #F2BCBA; min-height: 74vh;"> 
        <br><br><br>
        {% if request.session.member_type == 0 %}
          <h1 style="padding-left: 990px;">Welcome {{ request.session.member_fname }}</h1>
        {% else %}
          <h1 style="padding-left: 990px;">Welcome User</h1>
        {% endif %}
        <div class="wrapper" style="display: flex; flex-direction: column;">
          
          <ul>
            <li>
              <a href="#">Your Summary</a>
            </li>
            <li>
              <a href="#">Your Charges</a>
            </li>
            <li>
              <a href="#">Your Personal Details</a>
            </li>
          </ul>
      </div>
      <div class="wrapper" style="display: flex; flex-direction: column;">
        <h3>Borrowed Books</h3>
        <table class="table table-striped table-bordered table-hover center">
            <thead>
                <tr style="font-size: larger;"> 
                    <th>Book ID</th> 
                    <th>Title</th> 
                    <th>Author</th> 
                    <th>Classification</th> 
                </tr>
            </thead>
            <tbody>
                {% for book in user.borrowed_books.all %}
                    <tr>
                        <td>{{ book.book_id }}</td>
                        <td>{{ book.title }}</td>
                        <td>{{ book.author }}</td>
                        <td>{{ book.classification }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No borrowed books.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

      
      
      
      </main>

    <footer>
        <img src="{% static 'imglogo2.png' %}" alt="Image logo" style="width: 70px; height: 55px; float: left; margin-top: -5px; margin-left: 8px;">
        <div>
            <div class="library-name">
            <h3 class="element">InfoHaven</h3><h4 class="element" style="font-size:medium;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Library</h4>
            </div>
            <ul class="footer-links">
                <li><a href="#">Rights & Permissions</a></li>
                <li><a href="#">Copyright</a></li>
                <li><a href="#">Privacy notice</a></li>
                <li><a href="#">Terms of Use</a></li>
                <li><a href="#">&#169;InfoHaven</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>
